<section class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-400">Cuéntanos tu caso a detalle, te brindamos atención especializada</h1>
        <a href="https://wa.me/524462417469?text=Quiero recibir asesoría inmobiliaria" class="flex-shrink-0 font-bold text-black bg-white border-0 py-2 px-4 focus:outline-none rounded text-lg mt-10 sm:mt-0" >CONTACTO</a>
      </div>
    </div>
</section>